# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask
instance/
*.sqlite3

# Environment
.env
venv/
env/

# Docker
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# SSL keys
nginx/ssl/*.key

# Project specific
results.db
nginx/ssl/*